body {
    display: flex;
}

middle {
    display: flex;
    height: 98vh;
}

#empty {
    width: 15%;
}

#sidebar { 
    
    width: 33%;
    
}

#rightbar {
    padding: 5%;
}

#rightbar, #sidebar {
    outline-width: 3px;
    outline-style: dashed;
    align-content: center;
}

img {
    object-fit: contain;
    height: 100%;
    width: 100%;
}